<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daszczu.workoutexporter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daszczu.workoutexporter.MainMenu" />
        </activity>
        <activity
            android:name=".PlannedWorkoutsActivity"
            android:label="@string/title_activity_planned_workouts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daszczu.workoutexporter.MainMenu" />
        </activity>
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="99a2b0868226f80f4e47afaff1ed47a4af3aa0fe" />

        <activity
            android:name=".NewWorkoutPlannerActivity"
            android:label="@string/title_activity_new_workout_planner">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.daszczu.workoutexporter.MainMenu" />
        </activity>
    </application>

</manifest>